
<section class="subscribe-section">
  <h3 class="subscribe-text">Subscribe to our weekly news to get updates on future sales and special deals</h3>
  <form action="/home" method="POST" class="subscribe-form">
    <input type="email" name="email" class="email-input" placeholder="enter your email">
    <input type="submit" class="email-btn">
  </form>
</section>

<footer>
  <div class="footer-split">
    <h3 class="footer-title">Top Kicks</h3>
    <h5><a href="#" class="footer-text">About</a></h5>
    <h5><a href="#" class="footer-text">Careers</a></h5>
    <h5><a href="#" class="footer-text">Blogs</a></h5>
    <h5><a href="#" class="footer-text">Become A Member</a></h5>
  </div>
  <div class="footer-split">
    <h3 class="footer-title">Products</h3>
    <h5><a href="#" class="footer-text">Shoes</a></h5>
    <h5><a href="#" class="footer-text">Accessories</a></h5>
    <h5><a href="#" class="footer-text">New Arrivals</a></h5>
    <h5><a href="#" class="footer-text">Best Sellers</a></h5>
  </div>
  <div class="footer-split">
    <h3 class="footer-title">Sports</h3>
    <h5><a href="#" class="footer-text">Basketball</a></h5>
    <h5><a href="#" class="footer-text">Soccer</a></h5>
    <h5><a href="#" class="footer-text">Hockey</a></h5>
    <h5><a href="#" class="footer-text">Football</a></h5>
  </div>
  <div class="contact-split">
    <div class="contact-container">
      <h3 class="footer-title">Contact Us</h3>
      <h5 class="footer-text">Address: 248 Sportsworld Dr</h5>
      <h5 class="footer-text">Guelph, Ontario, N8C 2V4</h5>
      <h5 class="footer-text">Phone Number: (647) 642-3917</h5>
    </div>
    <div class="social-icons">
      <a href="#"><img src="/imgs/instagram.png" height="35" width="35"></a>
      <a href="#"><img src="/imgs/twitter.png" height="35" width="35"></a>
      <a href="#"><img src="/imgs/youtube.png" height="35" width="35"></a>
      <a href="#"><img src="/imgs/facebook.png" height="35" width="35"></a>
    </div>
  </div>
</footer>
*All images used on this mock website were found on Google Images