<header>
  <div class="logo-container">
    <h1><a class="logo-name" href="/home">Top Kicks</h1>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a class="nav-link" href="/home">Home</a></li>
      <li><a class="nav-link" href="#featured-kicks">New Features</a></li>
      <li><a class="nav-link" href="#gender">Men's</a></li>
      <li><a class="nav-link" href="#gender">Women's</a></li>
      <li><a class="nav-link" href="#gender">Kids</a></li>
      <li><a class="nav-link" href="#">Sales</a></li>
    </ul>
  </nav>
  <div class="nav-btns">
    <div class="member-btns">
      <a href="/account-login"><button class="login-btn">Login</button></a>
      <a href="/account-register"><button class="register-btn">Register</button></a>
    </div>
  </div>
  <div class="menu-container">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</header>