<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  
  <section class="page-error-container">
    <div class="page-error">
      <h1><a class="logo-name" href="/home">Top Kicks</a></h1>
      <div class="inline">
        <h4 class="four04-text">404</h4>
        <p class="four04-text">. Error page</p>
      </div>
      <br><br>
      <p>The requested URL was not found on this server.</p>
      <p>Sorry for the inconvience.</p>
    </div>
  </section>
  
</body>
</html>