<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <div  id="home"></div>
  <%- include('./partials/nav.ejs') %>

  <section class="hero-section">
    <a href="/error" class="hero-page-link">
      <div class="hero-text-container">
        <h1 class="hero-text">The Sky Is The Limit</h1>
        <h3 class="hero-text-description">Retro Jordan HyperJumps Z36</h3>
        <button class="hero-btn">Shop Now ></button>
      </div>
      <img class="hero-image" src="/imgs/hero-image-retro-nikes.png"></img>
    </a>
  </section>
  <div id="featured-kicks"></div>
  <section class="feature-section">
    <h1 class="section-title">Featured Kicks</h1>
    <div class="feature-container">
      <div>
        <img class="shoe" src="/imgs/nike-kicks1.png">
        <h4 class="feature-text">NIKE Hyperfits A3</h4>
        <a href="/error" class="feature-text">Shop Now ></a>
      </div>
      <div>
        <img class="shoe" src="imgs/nike-kicks2.webp">
        <h4 class="feature-text">Nike JollyRancher</h4>
        <a href="/error" class="feature-text">Shop Now ></a>
      </div>
      <div>
        <img class="shoe" src="/imgs/nike-kicks3.png">
        <h4 class="feature-text">Nike Air Force 2 React</h4>
        <a href="/error" class="feature-text">Shop Now ></a>
      </div>
      <div>
        <img class="shoe" src="/imgs/nike-kicks5.jpg">
        <h4 class="feature-text">NIKE Hyperfits A3</h4>
        <a href="/error" class="feature-text">Shop Now ></a>
      </div>
      <div>
        <img class="shoe" src="imgs/jordan-kicks1.jpg">
        <h4 class="feature-text">Nike Air Force 2 React</h4>
        <a href="/error" class="feature-text">Shop Now ></a>
      </div>
      <div>
        <img class="shoe" src="imgs/jordan-kicks2.jpg">
        <h4 class="feature-text">Jordan Retro 13</h4>
        <a href="/error" class="feature-text">Shop Now ></a>
      </div>
    </div>
  </section>
    
  <div id="gender"></div>

  <section class="gender-section">
    <h3 class="section-title">Choose your Style</h3><br><br><br>
    <div class="gender-container">
      <div class="split">
        <img class="model" src="/imgs/male-model.png" alt="male-model">
        <h4 class="gender-text">Men's wear</h4>
      </div>
      <div class="split">
        <img class="model" src="/imgs/female-model.png" alt="female-model">
        <h4 class="gender-text">Women's wear</h4>
      </div>
      <div class="split">
        <img class="model" src="/imgs/kids-model.jpg" alt="kid-models">
        <h4 class="gender-text">Kids wear</h4>
      </div>
    </div>
  </section>
  
  <%- include('./partials/footer.ejs') %>
</body>
</html>