.feature-section {
  width: 100%;
  overflow-x: scroll;
}

.feature-section::-webkit-scrollbar {
  display: none;
}

.feature-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 30px;
  overflow-x: auto;
}

.feature-container::-webkit-scrollbar {
  background: white;
  border: 2px solid black;
  border-radius: 10px;
}

.feature-container div {
  width: 200px;
}

.feature-container:hover {
  animation-play-state: paused;
}

.shoe {
  object-fit: cover;
  max-width: 170px;
  border-radius: 50%;
  transition: 250ms ease-in;
}
.shoe:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

.feature-text {
  position: relative;
  top: -15%;
  text-align: left;
  text-decoration: none;
  color: black;
}

#featured-kicks {
  height: 100px;
}
